@keyframes tipsy {
    0 {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
  
  #main-title {
    color: #fffbf1;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  #main-subtitle {
    color: #e41b1b;
    text-decoration: none;
    letter-spacing: 0px;
    
  }

  #main-title:before,
  #main-title:after {
    content: "";
    padding: 0.1em 0.1em;
    box-shadow:0px 0px 15px 20px black inset; 
    position: absolute;
    left: 50%;
    width: 70%;
    height: 140%;
    top: 50%;
    display: block;
    border: 0.4em solid #840000;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
  }
  
  #main-title:before {
    border-color: #840000 #840000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  #main-title:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #840000 #840000;
    /*box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);*/
  }
  
  #bigger-box:before,
  #bigger-box:after {
    content: "";
    padding: 0.1em 0.1em;
    position: absolute;
    left: 50%;
    width: 50%;
    height: 50%;
    top: 50%; 
    display: block;
    border: 0.4em solid #840000;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 8s infinite alternate ease-in-out tipsy;
  }
  
  #bigger-box:before {
    border-color: #840000 #840000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  #bigger-box:after {
    border-color:#840000 #840000 #840000 #840000;
    /*box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);*/
  }