
.navbar-light .navbar-nav .nav-link{
    color:white;
}

.bg-dark {
    background-color:transparent!important;
}

.navbar-light .navbar-brand {
    color: white;
}


.btn-outline-light{
    border-color: white;
}


.header-section-link{
    color: white!important;
}
.header-section-link:hover{
    color:#DCDCDC!important;
}

.main-navbar{
    position:fixed;
    top:0;
}